/* en-tête*/

html, body {
	height: 100%;
	margin: 0; 
    padding: 0;
}
body {
	display : table;
	width: 100%;
}
footer {
	display : table-row;
	height: 130px;
   
}


/*img iut*/

.iut{    
    font-size: 230%;
	text-align: center;
    height:700px;
    width:100%;
    background-color: white;
    border:0px;
    font-family:monospace;
    color: black;



}

/* menu */

.autour{
	font-size: 230%;
	text-align: center;
    height:1100px;
    width:100%;
    background-color: black;
    border:0px;
    font-family:monospace;
    margin-top:0;
    padding:0;
    color: white;
}

.c1 {
  margin-top: 5%;
  float: left;
  display:inline-block;
  width:300px;
  height:300px;
  border-radius:50%;
  text-align:center;
  background: Silver;
  
}

   


.c2 {
    margin-top:5%;
    float:center;
    display:inline-block;
    width:300px;
    height:300px;
    border-radius:50%;
    text-align:center;
    background: Silver;
    
}




.c3 {
    margin-top: 5%;
    float:right;
	display:inline-block;
    width:300px;
    height:300px;
    border-radius:50%;
    text-align:center;
    background: Silver;
    
}


.c4 {
    float:left;
    width:300px;
    height:300px;
    border-radius:50%;
    text-align:center;
    background: Silver;
    margin-top: 10%;
    margin-left: 19.3%;
    
}



.c5 {
    float:right;
    width:300px;
	height:300px;
	display:inline-block;
    width:300px;
    height:300px;
    border-radius:50%;
    text-align:center;
    background: Silver;
    margin-top: 10%;
    margin-right: 19.3%;
    
}

/* Footer */

.contact{
    font-size: 230%;
	text-align: center;
    height:300px;
    width:100%;
    background-color: white;
    border:0px;
    font-family:monospace;
    margin:0px;
    padding:0px;
    
}

.icone1{
   
    display: flex;
    margin-top: 25px;
    height:10%;
    width:50%;
   
       
}

.icone2{
   
    
    display: flex;
    margin-top: 25px;
    height:10%;
    width:50%;

    
}

.icone3{
   
    display: flex;
    margin-top: 25px;
    height:10%;
    width:50%;
    
    
}




    
    
