@media screen and (max-width: 1200px){

/* en-tête*/

html, body {
	height: 100%;
    overflow-x: hidden;
}

footer {
	display : table-row;
	height: 130px;
   
}


/*img iut*/

.iut{    
    font-size: 230%;
	text-align: center;
    height:700px;
    width:100%;
    background-color: white;
    border:0px;
    font-family:monospace;
    color: black;



}

/* menu */

.autour{
	font-size: 230%;
	text-align: right;
    height:1900px;
    width:100%;
    background-color: black;
    border:0px;
    font-family:monospace;
    margin-top:0px;
    padding:0;
    color: white;
}

    
.sous-titre{
    margin-right: 20%;
         
    }

.c1 {
  margin-top: 5%;
  margin-left: 30%;
  float: left;
  display:inline-block;
  width:300px;
  height:300px;
  border-radius:50%;
  text-align:center;
  background: Silver;
  
}

   


.c2 {
    margin-top:5%;
    margin-left: 30%;
    float:left;
    display:inline-block;
    width:300px;
    height:300px;
    border-radius:50%;
    text-align:center;
    background: SilverSilver;
    
}




.c3 {
    margin-top: 5%;
    margin-left: 30%;
    float:left;
	display:inline-block;
    width:300px;
    height:300px;
    border-radius:50%;
    text-align:center;
    background: Silver;
    
}


.c4 {
    margin-top: 5%;
    margin-left: 30%;
    float:left;
	display:inline-block;
    width:300px;
    height:300px;
    border-radius:50%;
    text-align:center;
    background: Silver;
    
}



.c5 {
    margin-top: 5%;
    margin-left: 30%;
    float:left;
	display:inline-block;
    width:300px;
    height:300px;
    border-radius:50%;
    text-align:center;
    background: Silver;
    
}

/* Footer */

.contact{
    font-size: 230%;
	text-align: center;
    height:300px;
    width:100%;
    background-color: white;
    border:0px;
    font-family:monospace;
    margin:0px;
    padding:0px;
    
}

.icone1{
   
    display: flex;
    margin-top: 25px;
    height:10%;
    width:130%;
   
       
}

.icone2{
   
    
    display: flex;
    margin-top: 25px;
    height:10%;
    width:130%;

    
}

.icone3{
   
    display: flex;
    margin-top: 25px;
    height:10%;
    width:130%;
    
    
}
    
   
    
}