@media screen and (max-width: 800px){
    
    /* en-tête*/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
    overflow-x: hidden;
}
body {
	display : table;
	width: 100%;
}
footer {
	display : table-row;
	height: 130px;
   
}


/*img iut*/

.iut{    
    font-size: 230%;
	text-align: center;
    height:700px;
    width:100%;
    background-color: white;
    border:0px;
    font-family:monospace;
    color: black;



}

/* menu */

.autour{
	font-size: 230%;
	text-align: right;
    height:1800px;
    width:100%;
    background-color: black;
    border:0px;
    font-family:monospace;
    margin-top:0px;
    padding:0;
    color: white;
}

    
.sous-titre{
    
         
    }

.c1 {
  margin-top: 5%;
  margin-left: 12%;
  float: left;
  display:inline-block;
  width:300px;
  height:300px;
  border-radius:50%;
  text-align:center;
  background: Silver;
  
}

   


.c2 {
    margin-top:5%;
    margin-left: 18%;
    float:left;
    display:inline-block;
    width:300px;
    height:300px;
    border-radius:50%;
    text-align:center;
    background: SilverSilver;
    
}




.c3 {
    margin-top: 5%;
    margin-left: 18%;
    float:left;
	display:inline-block;
    width:300px;
    height:300px;
    border-radius:50%;
    text-align:center;
    background: Silver;
    
}


.c4 {
    margin-top: 5%;
    margin-left: 18%;
    float:left;
	display:inline-block;
    width:300px;
    height:300px;
    border-radius:50%;
    text-align:center;
    background: Silver;
    
}



.c5 {
    margin-top: 5%;
    margin-left: 18%;
    float:left;
	display:inline-block;
    width:300px;
    height:300px;
    border-radius:50%;
    text-align:center;
    background: Silver;
    
}

/* Footer */

.contact{
    font-size: 230%;
	text-align: center;
    height:300px;
    width:100%;
    background-color: white;
    border:0px;
    font-family:monospace;
    margin:0px;
    padding:0px;
    
}

.icone1{
   
    display: flex;
    margin-top: 25px;
    height:10%;
    width:180%;
   
       
}

.icone2{
   
    
    display: flex;
    margin-top: 25px;
    height:10%;
    width:180%;

    
}

.icone3{
   
    display: flex;
    margin-top: 25px;
    height:10%;
    width:180%;
    
    
}
    
}