body{
    background-color:aliceblue;
    
    
}

.titre{
    
    text-align: center;
    margin-top: 10px;
    font-family: sans-serif;
    font-style: italic;
    
    
}

#trait_dessus{

    width :100%;
} 

.intro{
    height:auto;
    background-color: azure;
    
}
    
    

.c1{
    margin-top: 5%;
    float: right;
    display:inline-block;
    width:200px;
    height:200px;
    border-radius:50%;
    background: url("../../image/bacot.PNG") center 300px;
    
    
}

.membre1{
    float :left;
    margin-top: 8%;
    margin-left: 3%;
    width: 70%;
    height: auto;
    
    
    
}

#trait_dessus2{

    width :70%;
    float: right;
    margin-top: 13%;
    
    
}

.c2{
    margin-top: 5%;
    float: left;
    display:inline-block;
    width:200px;
    height:200px;
    border-radius:50%;
    background: url("../../image/dragon.PNG") center 220px;
    
    
}

.membre2{
    float :right;
    margin-top: 3%;
    margin-left: 10%;
    width: 50%;
    height: auto;
    
    
    
}

#trait_dessus3{

    width :70%;
    float: right;
    margin-top: 13%;
    
    
}

.c3{
    margin-top: 5%;
    margin-left: 30%;
    float: right;
    display:inline-block;
    width:200px;
    height:200px;
    border-radius:50%;
    background: url("../../image/force.PNG") center 280px;
    
    
}

.membre3{
    float :left;
    margin-top: 5%;
    margin-left: 3%;
    width: 50%;
    height: auto;
    
    
    
}

#trait_dessus4{

    width :70%;
    float: right;
    margin-top: 8%;

}

.c4{
    margin-top: 13%;
    float: left;
    display:inline-block;
    width:200px;
    height:200px;
    border-radius:50%;
    background: url("../../image/jean.PNG") center 220px;
    
    
}

.membre4{
    float :right;
    margin-top: 3%;
    margin-left: 10%;
    width: 50%;
    height: auto;
    
    
    
}

#trait_dessus5{

    width :70%;
    float: right;
    margin-top: 13%;

}

.c5{
    margin-top: 5%;
    margin-left: 30%;
    float: right;
    display:inline-block;
    width:200px;
    height:200px;
    border-radius:50%;
    background: url("../../image/clain.PNG") center 285px;
    
    
}

.membre5{
    float :left;
    margin-top: 5%;
    margin-left: 3%;
    width: 50%;
    height: auto;
    
    
    
}

#trait_dessus6{

    width :70%;
    float: right;
    margin-top: 8%;

}

.c6{
    margin-top: 13%;
    float: left;
    display:inline-block;
    width:200px;
    height:200px;
    border-radius:50%;
    background: url("../../image/alexandre.PNG") center 220px;
    
    
}

.membre6{
    float :right;
    margin-top: 3%;
    margin-left: 10%;
    width: 50%;
    height: auto;
    
    
    
}

#trait_dessus7{

    width :70%;
    float: right;
    margin-top: 13%;
}

.c7{
    margin-top: 5%;
    margin-left: 30%;
    float: right;
    display:inline-block;
    width:200px;
    height:200px;
    border-radius:50%;
    background: url("../../image/caro.PNG") center 220px;
    
    
}

.membre7{
    float :left;
    margin-top: 5%;
    margin-left: 3%;
    width: 50%;
    height: auto;
    
    
    
}