body{
    background-color:aliceblue;
    
    
}

.titre{
    
    text-align: center;
    margin-top: 10px;
    font-family: sans-serif;
    font-style: italic;
    
    
}

#trait_dessus{

    width :100%;
} 

